.wrap-login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 350px;
    height: 400px;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.login-header {
    justify-content: center;

    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form-icon {
    font-size: 18px;
    padding-top: 4px;
}

.login-action {
    justify-content: center;
    gap: 5px;

    font-size: 13px;
    color: rgb(102, 102, 102);
}

.login-action-link {
    color: rgb(102, 102, 102);
    text-decoration: none;
}

.login-action-link:hover {
    color: rgb(63, 81, 181);
}
