.wrap-registration {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 350px;
    height: 500px;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.registration-form {
    display: flex;
    flex-direction: column;
}

.registration-form-icon {
    font-size: 18px;
    padding-top: 4px;
}

.registration-action {
    justify-content: center;
    gap: 5px;

    font-size: 13px;
    color: rgb(102, 102, 102);
}

.registration-action-link {
    color: rgb(102, 102, 102);
    text-decoration: none;
}

.registration-action-link:hover {
    color: rgb(63, 81, 181);
}
