<mat-card class="wrap-registration">
    <mat-card-header class="registration-header">Registration</mat-card-header>
    <mat-card-content>
        <form [formGroup]="form" class="registration-form" (ngSubmit)="onSubmitForm()">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input type="text" matInput formControlName="name">
                <mat-error *ngIf="name !== null && name.touched">
                    <span *ngIf="name.hasError('required')">Name is required</span>
                    <span *ngIf="name.hasError('minlength') && !name.hasError('required')">
                        Name must be at least 6 characters long
                    </span>
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName="email">
                <mat-error *ngIf="email !== null && email.touched">
                    <span *ngIf="email.hasError('required')">Email is required</span>
                    <span *ngIf="email.hasError('email') && !email.hasError('required')">
                        Please enter a valid email
                    </span>
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Password</mat-label>
                <input type="{{ showPassword ? 'text' : 'password' }}" matInput formControlName="password">
                <button
                    mat-icon-button
                    type="button"
                    matSuffix
                    (click)="toggleShowPassword()"
                >
                    <mat-icon class="registration-form-icon">
                        {{ showPassword ? 'visibility_off' : 'visibility' }}
                    </mat-icon>
                </button>
                <mat-error *ngIf="password !== null && password.touched">
                    <span *ngIf="password.hasError('required')">
                        Password is required
                    </span>
                    <span *ngIf="password.hasError('minlength') && !password.hasError('required')">
                        Must be at least 6 characters long
                    </span>
                    <span *ngIf="password.hasError('passwordValidator') && !password.hasError('minlength') && !password.hasError('required')">
                        Must contain letters and digits
                    </span>
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Repeat Password</mat-label>
                <input 
                    type="{{ showRepeatPassword ? 'text' : 'password' }}"
                    matInput
                    formControlName="repeatPassword"
                >
                <button
                    mat-icon-button
                    type="button"
                    matSuffix
                    (click)="toggleShowRepeatPassword()"
                >
                    <mat-icon class="registration-form-icon">
                        {{ showRepeatPassword ? 'visibility_off' : 'visibility' }}
                    </mat-icon>
                </button>

                <mat-error *ngIf="repeatPassword !== null && repeatPassword.touched">
                    <span *ngIf="repeatPassword.hasError('required')">
                        Repeat password is required
                    </span>
                    <span *ngIf="repeatPassword.hasError('minlength') && !repeatPassword.hasError('required')">
                        Must be at least 6 characters long
                    </span>
                    <span *ngIf="repeatPassword.hasError('passwordValidator') && !repeatPassword.hasError('minlength') && !repeatPassword.hasError('required')">
                        Must contain letters and digits
                    </span>
                </mat-error>
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
                Registration
            </button>
        </form>
    </mat-card-content>

    <mat-card-actions class="registration-action">
        <span>Already have an account? </span>
        <a class="registration-action-link" routerLink="/auth/login">Login</a>
    </mat-card-actions>
</mat-card>
