<div class="back-button">
    <a mat-button class="back-button-link" routerLink="/posts">
        <mat-icon>chevron_left</mat-icon>
        Back to posts
    </a>
</div>

<mat-card *ngIf="post; else loading" class="wrap-post">
    <mat-card-header class="post-header">
        {{ post.title }}
    </mat-card-header>
    <mat-card-content class="post-body">
        {{ post.body }}
    </mat-card-content>
</mat-card>

<ng-template #loading>
    <mat-progress-spinner color="primary" mode="indeterminate"></mat-progress-spinner>
</ng-template>
